*{
    box-sizing: border-box;
}

body {
    /* background-color: rgba(128, 128, 128, 0.727); */
    font-family: 'Poppins', sans-serif;
    /* background-color: #e8e8e8d0; */
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 150px;
}
.header{
    /* text-align: left; */
    background-color: rgb(4, 4, 4);
    color: #fff;
    display: flex;
    justify-content: center;

    font-size: smaller;
    
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    /* padding-left: 6px; */
}

.name h2{
    font-size:xx-large;
    font-weight: 900;
    margin:26px 0 0;
}
.name hr{
    border-color: black;
    border-width: 4px;
    border-style: solid;
    border-radius: 5px;
}
.info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}
.aside-info{
    border-width: 7px;
    border-color: black;
    border-style: solid;
    padding: 0px 16px;
}
.about-me p{
    font-size: large;
    /* border-color: black;
    border-width: 7px;
    border-style: solid; */
    border-left: 7px black solid;
    padding-left: 10px;
}
.contact h3{
    margin-top: 14px;
}
h3{
    text-transform: uppercase;
    font-weight: 800;
    font-size: large;
}
pre{
    /* border-style: 1px solid #d3d6d7; */
    background-color: #000000;
    color: #fff;
    /* margin-left: 30px;
    padding-left: 20px; */
    font-size: large;
    text-align: start;
    
}

a{
    color: black;
    text-decoration: none;
}

a:hover {
    color: rgba(65, 65, 65, 0.808);
}

.comment{
    color: rgba(255, 255, 255, 0.744);
    
}