*{
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.header{
    text-align: center;
}

pre{
    /* border-style: 1px solid #d3d6d7; */
    background-color: #d3d6d7cf;
    width: 70%;
    margin-left: 30px;
    padding-left: 20px;
    font-size: large;
}
.comment{
    color: rgba(0, 0, 0, 0.736);
    
}